/********************************************************************
 LOADS IN A NICE RESET TO ENSURE ALL BROWSERS HAVE THE SAME BASE STYLES
*********************************************************************/
@import url('https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css');

/*********************************************************************
  YOUR MOBILE/BASE STYLES GO HERE
*********************************************************************/
* {
    box-sizing: border-box;
}

html, body {
    font-size: 16px;
    font-family: Verdana, sans-serif;
    background-image: url(img/worldmap1.jpg);
    background-size: cover;
    height: 100%;
    overflow: auto;
}

#byline {
    font-size: 1em;
}

@media(min-width: 200px) {
    .container.header {
        text-align: left;
        background-color: none;
    }

    h1 {
        font-size: 2.5em;
        margin-left: 2%;
        margin-right: 2%;
        text-shadow: 1px 1px #c23407;
        color: white;
    }

    h6 {
        font-size: .6em;
        font-weight: bold;
        margin-left: 5%;
        margin-right: 5%;
        color: #c23407;
        text-shadow: .35px .35px #c23407;
        display: inline-block;
    }

    .newsservice img {
        float: right;
        margin-right: 10%;
        max-width: 60px;
        width: 20%;
    }

    h6 a {
        font-size: .7em;
        color: white;
        text-decoration: none;
    }

    .container {
        min-width: 350px;
        max-width: 800px;
        width: 50%;
        margin: 0 auto;
        padding-top: 6%;
        padding-bottom: 6%;
        margin-top: 6%;
        margin-bottom: 6%;
        border-radius: 15px;
    }

    h6 img {
        /*Style for twitter icons*/
        display: inline;
        width: 17px;
        margin-left: 6px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 2;
        vertical-align: middle;
    }

    .content {
        background-color: gray;
        box-shadow: 3px 3px #c23407;
    }

    .content p {
        line-height: 1.5em;
        margin-left: 5%;
        margin-right: 5%;
        padding: 1%;
    }

    .calculator {
        border-radius: 15px;
        text-align: center;
        background-color: gray;
    }

    .button {
        background-color: white;
        border: none;
        color: white;
        padding: 20px 32px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
    }

    .output {
        min-width: 350px;
        max-width: 800px;
        width: 50%;
        margin: 0 auto;
        padding-top: 3%;
        padding-bottom: 3%;
        margin-top: 3%;
        margin-bottom: 3%;
        background-color: white;
        border-radius: 15px;
        box-shadow: 3px 3px #c23407;
    }

    .output p {
        margin-left: 5%;
        margin-right: 5%;
    }

    .inactive {
        display: none;
    }

    .choice {
        font-size: 1.5em;
    }

    .disclaimer {
        font-size: .75em;
    }

    .left img {
        display: none;
    }

    .right img {
        display: none;
    }

    /*********************************************************************
  YOUR TABLET/DESKTOP STYLES GO HERE
*********************************************************************/
    @media(min-width: 681px) {

        /* Any adjustments for tablets and larger go here.
    Note these styles will be applied to anything 681px or larger -- so tablet AND desktop */
        h1 {
            font-size: 1em;
            padding: 5%;
            text-shadow: 1px 1px #c23407;
        }

        .container.header {
            text-align: left;
            font-size: 2.5em;
        }

        .container {
            min-width: 350px;
            max-width: 800px;
            width: 50%;
            margin: 0 auto;
            padding-top: 3%;
            padding-bottom: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            border-radius: 15px;
        }

        .content {
            box-shadow: 3px 3px #c23407;
        }

        .content p {
            margin-left: 5%;
            margin-right: 5%;
        }

        .calculator {
            border-radius: 15px;
            text-align: center;
        }

        .button {
            background-color: white;
            border: none;
            color: white;
            padding: 15px 32px;
            text-align: center;
            text-decoration: none;
            display: inline-block;
            font-size: 16px;
        }

        .output {
            min-width: 350px;
            max-width: 800px;
            width: 50%;
            margin: 0 auto;
            padding-top: 3%;
            padding-bottom: 3%;
            margin-top: 3%;
            margin-bottom: 3%;
            background-color: white;
            border-radius: 15px;
            box-shadow: 3px 3px #c23407;
        }

        .output p {
            background-color: white;
            margin-left: 5%;
            margin-right: 5%;
        }

        .inactive {
            display: none;
        }

        .choice {
            font-size: 1.5em;
        }

        .disclaimer {
            /*Makes font smaller for 'fine-print' effect*/
            font-size: .75em;
        }

        .left img {
            max-width: 200px;
            width: 15%;
            border-radius: 50%;
            position: absolute;
            display: flex;
            left: 5%;
            float: left;
        }

        .right img {
            max-width: 180px;
            width: 20%;
            top: 40px;
            border-radius: 50%;
            display: flex;
            right: 3%;
            position: absolute;
            float: right;
        }
    }

    /*********************************************************************
  YOUR DESKTOP-ONLY STYLES GO HERE
*********************************************************************/
    @media(min-width: 729px) {
        /* Any adjustments for desktop and larger go here.
    Note these styles will be applied to anything 729px or larger -- so desktop */
    }